@font-face {
  font-family: "neue-m";
  src: url("fonts/neue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "edit";
  src: url("fonts/editor.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "neuem";
  src: url("fonts/neuem.woff") format("woff");
  margin: 0;
  padding: 0;
}

body,
.background-main,
.container-br,
.desserts-container,
.drink-container,
.basement-container {
  margin: 0;
  width: 100%;
}

.language-switcher {
  position: absolute;
  display: flex;
  align-items: start;
  right: 100px;
  z-index: 10;
  gap: 10px;
  align-content: flex-start;
  width: 100px;
}

.current-language {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  width: 10px;
  height: auto;
  margin-top: 18px;
}

.current-language img {
  width: 25px;
  height: auto;
}

.arrow {
  cursor: pointer;
  height: 120px;
  width: 80px;
  position: relative;
  margin-left: 20px;
  align-items: start;
  align-content: flex-start;
  margin-top: -30px;
}

.arrow-top,
.arrow-bottom {
  background: rgba(220, 62, 22, 1);
  height: 2.4px;
  left: -30px;
  position: absolute;
  top: 62px;
  width: 11px;
}

.arrow-top {
  top: 62px;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-top::after,
.arrow-bottom::after {
  background: rgb(255, 255, 255);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.11s;
}

.arrow-top::after {
  left: 100%;
  right: 0;
  transition-delay: 0.01s;
}

.arrow-bottom::after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top::after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom::after {
  right: 0;
  transition-delay: 0s;
}

.dropdown-content {
  display: none;
  position: relative;
  top: 23px;
  right: 30px;
  z-index: 1;
  flex-direction: column;
  gap: 20px;
}

.dropdown-content a {
  display: block;
  width: 10px;
  height: 10px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.language-switcher:hover .dropdown-content {
  display: flex;
}

.flatimages {
  max-width: 490px;
  height: auto;
  justify-content: center;
  position: absolute;
  top: 59%;
  left: 52.3%;
  transform: translate(-50%, -50%);
}

.spacer {
  background: url("images/back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 817px;
}

.background-main {
  background-color: black;
  height: 450px;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s;
}

.back-to-top::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255);
  margin: 0 auto;
}

.back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.header {
  top: 50px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: hsla(0, 0%, 0%, 0.86);
  color: white;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 0.7s;
}

.header.fixed {
  position: fixed;
  top: 0;
  height: 70px;
}

.header a {
  font-family: "neue-m";
  font-size: 18px;
  color: rgb(211, 211, 211);
  text-decoration: none;
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
}

.background-text {
  display: flex;
  font-family: "edit";
  font-size: 100px;
  color: rgb(220, 62, 22, 1);
  justify-content: center;
  margin-top: -50px;
}

.text1 {
  height: 50px;
  margin: 30px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 170px);
  gap: 30px;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

.text2 {
  display: flex;
  justify-content: space-between;
  font-family: "neue-m";
  font-size: 14px;
  color: rgb(211, 211, 211);
}

.text-edit {
  font-family: "edit";
  font-size: 14px;
  color: rgb(211, 211, 211);
}

.main-container {
  background-color: rgb(0, 0, 0);
  height: 500px;
}

.background-textt {
  display: flex;
  font-family: "edit";
  font-size: 100px;
  color: rgba(220, 62, 22, 1);
  justify-content: center;
  z-index: 2;
  position: relative;
}

.cold-images {
  display: grid;
  gap: 30px;
  row-gap: 20px;
  grid-template-columns: repeat(4, 170px);
  justify-content: center;
  z-index: 2;
  position: relative;
}

.main-images {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 170px);
  justify-content: center;
  z-index: 2;
  position: relative;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(5, 170px);
  gap: 30px;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

.text3 {
  display: flex;
  justify-content: space-between;
  font-family: "neue-m";
  font-size: 14px;
  color: rgb(211, 211, 211);
}

.container-br {
  background-color: white;
  height: 450px;
}

.background-texttt {
  display: flex;
  font-family: "edit";
  font-size: 100px;
  color: rgba(191, 214, 176, 1);
  justify-content: center;
  z-index: 2;
  position: relative;
}

.text4 {
  display: flex;
  justify-content: space-between;
  font-family: "neue-m";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.text-edit2 {
  font-family: "edit";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.desserts-container {
  background-color: rgb(255, 255, 255);
  height: 500px;
}

.drink-container {
  background-color: black;
  height: 1400px;
}

.background-text-drink {
  display: flex;
  font-family: "edit";
  font-size: 100px;
  color: rgb(220, 62, 22, 1);
  justify-content: center;
  margin-bottom: 30px;
}

.grid-container-drinks {
  display: grid;
  grid-template-columns: 230px 110px 70px 230px 110px;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 1000px;
  align-items: start;
  margin: auto;
}

.grid-column1,
.grid-column2 {
  display: grid;
  row-gap: 20px;
}

.grid-column2 {
  row-gap: 10px;
}

.text00 {
  color: black;
  padding: 5px;
}

.text0,
.text5,
.text00 {
  font-family: "edit";
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.text5 {
  color: rgba(220, 62, 22, 1);
}

.text6 {
  font-family: "neue-m";
  font-size: 20px;
}

.text7,
.text8,
.grid-drink-text,
.text6,
.text-link,
.text-link2,
.text-contact,
.text69 {
  color: rgb(211, 211, 211);
  font-family: "neue-m";
  font-size: 16px;
}

.text8 {
  font-size: 12px;
}

.grid-drink-text {
  text-align: left;
  font-family: "neue-m";
}

.grid-drink-number {
  display: grid;
  row-gap: 10px;
  color: rgba(211, 211, 211);
  text-align: right;
  font-family: "neuem";
  margin-top: 95px;
  font-size: 16px;
}

.grid-drink-number2 {
  display: grid;
  row-gap: 10px;
  color: rgba(211, 211, 211);
  text-align: right;
  font-family: "neuem";
  margin-top: 48px;
  font-size: 16px;
}

.number0 {
  color: black;
  font-size: 16px;
  font-family: "neue-m";
}

.number00 {
  color: black;
  font-size: 8px;
  font-family: "neue-m";
}

.grid-drink:nth-child(3) {
  grid-column: 3 / 4;
}

.grid-drink:nth-child(4) {
  grid-column: 4 / 5;
}

.grid-container-drinks .pseudo-gap {
  grid-column: 3 / 4;
  background: transparent;
  margin: 0 40px;
}

.text-edit2 {
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.basement-container {
  background-color: black;
  position: relative;
  height: 550px;
  text-align: center;
}

.grid-container-basement {
  display: grid;
  grid-template-columns: 300px 400px 300px;
  gap: 20px;
  align-items: start;
  row-gap: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 180px auto 0;
}

.text9 {
  color: rgba(211, 211, 211);
  font-family: "neuem";
  font-size: 16px;
  z-index: 1;
}

.basement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-column {
  display: grid;
  justify-content: center;
  row-gap: 20px;
}

.grid-column-align-left {
  display: grid;
  justify-content: left;
  row-gap: 20px;
}

.text10 {
  color: rgba(211, 211, 211);
  font-family: "neuem";
  font-size: 16px;
  z-index: 1;
  text-align: left;
}

.map {
  height: auto;
  position: relative;
  z-index: 10;
}

.container-contacts {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .language-switcher {
    margin-left: 950px;
  }
}

@media screen and (max-width: 992px) {
  .language-switcher {
    margin-left: 750px;
  }
}

.container-contacts img {
  @media screen and (max-width: 768px) {
    .language-switcher {
      margin-left: 550px;
    }
  }

  margin-right: 10px;
  @media screen and (max-width: 576px) {
    .language-switcher {
      margin-left: 350px;
    }
  }

  width: 20px;
  @media screen and (max-width: 480px) {
    .language-switcher {
      margin-left: 250px;
    }
  }

  height: auto;
  @media screen and (max-width: 375px) {
    .language-switcher {
      margin-left: 200px;
    }
  }
}
@media screen and (max-width: 320px) {
  .language-switcher {
    margin-left: 150px;
  }
}

.text-link {
  font-family: "edit";
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.text-link:hover {
  color: rgba(191, 214, 176, 1);
}

.text-link2 {
  font-family: "neuem";
  z-index: 1;
  text-decoration: none;
}

.text-link2:hover {
  color: rgba(191, 214, 176, 1);
}

.text-contact {
  font-family: "edit";
  font-size: 18px;
  position: absolute;
  margin: 150px;
  left: 50%;
}

.text69 {
  font-family: "neuem";
  z-index: 1;
  font-size: 10px;
  margin-top: 40px;
}
